.container
  .game
    %table
      %tbody
        %tr
          %td.center.cell-hover
          %td.center.cell-hover
          %td.center.cell-hover
        %tr
          %td.center.cell-hover
          %td.center.cell-hover
          %td.center.cell-hover
        %tr
          %td.center.cell-hover
          %td.center.cell-hover
          %td.center.cell-hover

  .result
    %p#show_result
